.lautaroimgdiv{
    width:100%;
    height: 100%;
    position: relative;
}
.lautaroimg{
    width:30%;
    height: 40%;
    position: relative;
    margin-top: 5vh;
    left:15%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 900px;
}
.hero{
    position: relative;
    z-index: 1;
}
.content{
    display: flex;
    position: relative;
}
.name{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    top:15%;
    left: 45%;
    z-index: 0;
    width: 50%;
}
.name h1{
    margin-top: 10vh;
}
.name h2{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width:60%;
    font-size: 5rem;
    text-align:justify;
    width: 98%;
    color: black;
}
.name h3{
    position: relative;
    color:rgb(218, 95, 0);
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 6rem;
    width:50%;
    text-align: center;
    height: 70px;
    top:-10%
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.barra{
    display: inline-block;
    margin: 10px;
    width: 35%;
    height: 2px;
    background: brown
    }
.buttons{
        width: 55%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    @media screen and (max-width: 1600px) {
        .lautaroimg{
            width:35%;
            height: 35%;
            left:10%
        }
        .name{
            left:45%
        }
    }
@media screen and (max-width: 1040px) {
    .content{
        position: relative;
        z-index: -1;
    }
    .lautaroimgdiv{
        display: flex;
        position: relative;
        justify-content: right;
        padding-right: 1vh;
        position: relative;
    }
    .lautaroimg{
        position: relative;
        height:50%;
        width:50%;
        left: 0
    }
    .name{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        top:20%;
        z-index: -1;
        width: 50%;
        left:0
    }
    .name h1{
        margin-top: 10vh;
    }
    .name h2{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        width:60%;
        font-size: 60px;
        text-align:justify;
        width: 98%;
    }
    .name h3{
        position: relative;
        top:-3%;
        color:rgb(218, 95, 0);
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 70px;
        width:50%;
        text-align: center;
        height: 70px;
    }
    .knowme{
        margin-top: 30px;
    }
    .knowme{
        display: flex;
        justify-content: center;
        color:rgb(218, 95, 0);
        font-size: 33px;
        font-weight: 500;

    }
    .lildescription{
        background-color: rgb(218, 95, 0, 0.5);
        margin: 10px;
        border-radius: 40px;
        padding: 15px;
        border: 1px solid rgb(115, 113, 108);
    }

    .lildescription p{
        color: black;
    }
    .barra{
    display: inline-block;
    margin-left: 1rem;
    width: 20%;
    height: 2px;
    background: brown
    }
    .whoami{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .whoami h1{
        font-size: 25px;
        color: grey;
    }

}
@media screen and (max-width: 600px) {
    .content{
        position: relative;
        z-index: -1;
    }
    .lautaroimgdiv{
        display: flex;
        position: relative;
        justify-content: right;
        padding-right: 1vh;
        position: relative;
    }
    .lautaroimg{
        position: relative;
        height:50%;
        width:50%
    }
    .name{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        top:20%;
        z-index: -1;
        width: 50%;
    }
    .name h1{
        margin-top: 10vh;
    }
    .name h2{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        width:60%;
        font-size: 38px;
        text-align:justify;
        width: 98%;
    }
    .name h3{
        position: relative;
        top:7%;
        margin-left: 10px;
        font-size: 50px;
        width: 50%;
        text-align: center;
        height: 70px;

    }
    .buttons{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 374px) {
    .lautaroimgdiv{
        display: flex;
        position: relative;
        justify-content: center;
        padding-right: 1vh;
        position: relative;
    }
    .lautaroimg{
        position: relative;
        height:75%;
        width:75%
    }
    .name{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        top:20%;
        z-index: -1;
        width: 50%;
    }
    .name h2{
        display: none;
    }
    .name h3{
    display:none;
    }
    .knowme{
        display: flex;
        justify-content: center;
        color:rgb(218, 95, 0);
        font-size: 33px;
        font-weight: 500;
        text-shadow: 0px 2px 2px black;
        text-align: center;
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}